.dropdown-wrapper {
  span {
    display: inline;
    line-height: 16px;
    padding: 2px 16px;
    border-radius: 20px;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
  }  
}

ul#dropdown-menu {
  box-sizing: border-box;
  position: absolute;
  padding: 0;
  background-color: white;
  margin: 8px auto;
  padding: 0 8px;
  transform-origin: 50% 0%;
  // animation: open-menu 200ms ease;
  li {
    list-style-type: none;
    height: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover{
      background-color: whitesmoke;
    }
  }
}

@keyframes open-menu {
  from {
    transform: scaleY(0.1)
  }
  to {
    transform: scaleY(1);
  }
}