body {
  background-color: rgba(243, 246, 253, 1);
  position: relative;
  /* margin: 128px; */
  font-family: --apple-system, Roboto, sans-serif;
  color: #333333;
}

#shadow-container{
  position: relative;
  margin: 32px;
}

.card {
  height: 250px;
  width: 250px;
  background-color: white;
  border-radius: 16px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

#card-1{
  top: 75px;
  left: 75px;
}
#card-2 {
  top: 200px;
  left: 0px;
}
#card-3 {
  top: 25px;
  left: -100px;
}