ul#dropdown-menu {
  box-sizing: border-box;
  position: absolute;
  padding: 0;
  background-color: white;
  margin: 8px auto;
  padding: 0 8px;
  li {
    list-style-type: none;
    height: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover{
      background-color: whitesmoke;
    }
  }
}